// color
$veryDarkBlue:hsl(233, 47%, 7%);
$darkDesaturated: hsl(244, 38%, 16%);
$softViolet:hsl(277, 64%, 61%);

$white: hsl(0, 0%, 100%);
$slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
$slightlyTransparentWhite: hsla(0, 0%, 100%, 0.6);

// fonts
$fontSize: 1.5rem;
